title: "Soil Test Results"
date: 2015-05-12 20:52:57
tags:
---

Received soil test results

- {% asset_link garden-results.pdf Vegetable Garden %}
- {% asset_link berries-results.pdf Berry Bushes %}
- {% asset_link beds-results.pdf  Flower Beds %}
- {% asset_link trees-results.pdf Front Lawn %}

Berry bush area and front lawn show similar results. Vegetable Garden slightly
higher in some nutrients, possibly due to decomposing fruit tree roots in
vicinity. Flower Beds off-the-charts too high in most nutrients. Perhaps
previous owners over-fertilized.