title: "Soil Test Results"
date: 2015-05-12 00:00:00
tags:
  - soil
  - berries
  - lawn
  - vegetables
  - flowers
---

- 5/12&mdash;Temp: 51&ndash;80F, Precip: 0.07"
- 5/11&mdash;Temp: 53&ndash;81F, Precip: 0.00"
- 5/10&mdash;Temp: 62&ndash;87F, Precip: 0.00"
- 5/9&mdash;Temp: 41&ndash;75F, Precip: 0.00"
- 5/8&mdash;Temp: 45&ndash;80F, Precip: 0.00"
- 5/7&mdash;Temp: 39&ndash;82F, Precip: 0.00"
- 5/6&mdash;Temp: 42&ndash;75F, Precip: 0.00"
- 5/5&mdash;Temp: 48&ndash;75F, Precip: 0.00"
- 5/4&mdash;Temp: 44&ndash;81F, Precip: 0.00"
- 5/3&mdash;Temp: 44&ndash;75F, Precip: 0.00"
- 5/2&mdash;Temp: 32&ndash;69F, Precip: 0.00"
- 5/1&mdash;Temp: 37&ndash;55F, Precip: 0.00"
- 4/30&mdash;Temp: 45&ndash;57F, Precip: 0.00"
- 4/29&mdash;Temp: 48&ndash;62F, Precip: 0.00"
- 4/28&mdash;Temp: 42&ndash;60F, Precip: 0.00"
- 4/27&mdash;Temp: 41&ndash;53F, Precip: 0.00"

Received soil test results

- {% asset_link garden-results.pdf Vegetable Garden %}
- {% asset_link berries-results.pdf Berry Bushes %}
- {% asset_link beds-results.pdf  Flower Beds %}
- {% asset_link trees-results.pdf Front Lawn %}

Berry bush area and front lawn show similar results. Vegetable garden slightly
higher in some nutrients, possibly due to decomposing fruit tree roots in
vicinity. Flower Beds off-the-charts too high in most nutrients. Perhaps
previous owners over-fertilized.
